<!DOCTYPE html>
<html>
  <head>
    <title>Hyde - Your Friendly Neighborhood Jekyll Manager</title>
    <link rel="stylesheet" href="/gui/application.css">
  </head>
  <body>
    <header>
      <h1>Hyde Control Panel</h1>
      <nav>
        <ul>
          <li><a href="/posts"></a></li>
          <li><a href="/pages"></a></li>
        </ul>
      </nav>
    </header>
    <section>
    </section>
  </body>
</html>
