<!DOCTYPE html>
<html>
  <head>
    <title>Hyde - Your Friendly Neighborhood Jekyll Manager</title>
    <link rel="stylesheet" type="text/css" href="/gui/application.css">
  </head>
  <body>
    <header>
      <h1>Hyde Control Panel</h1>
      <nav>
        <ul>
          <li><strong>Sites</strong></li>
          <li><a href="#" class="current">nintera.com</a></li>
          <li><a href="#">mrnrdstrom.com</a></li>
        </ul>
        <ul>
          <li><strong>Content</strong></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/pages">Pages</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <nav>
        <ul>
          <li><a href="#">Some sample page here</a></li>
          <li><a href="#">Some sample page here</a></li>
          <li><a href="#">Some sample page here</a></li>
          <li><a href="#">Some sample page here</a></li>
        </ul>
      </nav>
      <div id="main">
        <form>
          <input type="text">
          <textarea></textarea>
          <input type="submit" value="Save">
        </form>
      </div>
    </section>
  </body>
</html>
